<div class="card">
    <p-toast></p-toast>
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <p-button severity="success" label="New" icon="pi pi-plus" class="mr-2" />
            <p-button severity="danger" label="Delete" icon="pi pi-trash" />
        </ng-template>
    </p-toolbar>

    <div class="card flex flex-wrap gap-4 p-fluid">
        <div class="p-col-12 p-md-4">
            <p-calendar [(ngModel)]="startDate" placeholder="From Date" [showIcon]="true"></p-calendar>
        </div>
        <div class="p-col-12 p-md-4">
            <p-calendar [(ngModel)]="endDate" placeholder="To Date" [showIcon]="true"></p-calendar>
        </div>
        <div class="p-col-12 p-md-4">
            <p-button label="Filter" icon="pi pi-filter" (click)="filterByDateRange()"></p-button>
            
        </div>
        <div class="p-col-12 p-md-4">
        <p-button label="Reset" icon="pi pi-refresh" (click)="resetFilters()"></p-button>
        </div>
    </div>

    <p-table
        #dt
        [value]="transactions"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['category.name', 'type', 'transactionDate', 'description', 'amount']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [(selection)]="selectedTransactions"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [showCurrentPageReport]="true"
    >
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Manage Transaction</h5>
            
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                    <p-tableHeaderCheckbox />
                </th>
                <th pSortableColumn="description" style="min-width:15rem">
                    Description <p-sortIcon field="description" />
                </th>
                <th pSortableColumn="amount">
                    Amount <p-sortIcon field="amount" />
                </th>
                <th pSortableColumn="transactionDate">
                    Date <p-sortIcon field="transactionDate" />
                </th>
                <th pSortableColumn="category.name">
                    Category <p-sortIcon field="category.name" />
                </th>
                <th pSortableColumn="type">
                    Type <p-sortIcon field="type" />
                </th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-transaction>
            <tr>
                <td>
                    <p-tableCheckbox [value]="transaction" />
                </td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.transactionDate | date }}</td>
                <td>{{ transaction.category.name }}</td>
                <td>{{ transaction.type }}</td>
                <td>
                    <p-button 
                        icon="pi pi-pencil" 
                        class="mr-2" 
                        [rounded]="true" 
                        [outlined]="true" 
                        severity="success" 
                        />
                    <p-button 
                        icon="pi pi-trash" 
                        severity="danger" 
                        [rounded]="true" 
                        [outlined]="true" 
                        />
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{ transactions ? transactions.length : 0 }} transactions.
            </div>
        </ng-template>
    </p-table>
</div>
