<div class="card">
  <div class="flex justify-content-between mb-3">
    <div class="income-section">
      <h3>Income</h3>
      <p>{{ amountOfIncome | currency }}</p>
    </div>
    <div class="expense-section">
      <h3>Expense</h3>
      <p>{{ amountOfExpense | currency }}</p>
    </div>
  </div>

  <p-table [value]="transactions" [rows]="10" [paginator]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Date</th>
        <th>Type</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-transaction>
      <tr>
        <td>{{ transaction.id }}</td>
        <td>{{ transaction.amount | currency }}</td>
        <td>{{ transaction.description }}</td>
        <td>{{ transaction.transactionDate | date }}</td>
        <td>{{ transaction.type }}</td>
        <td>{{ transaction.category.name }}</td>
        <td>
          <p-button icon="pi pi-eye" (click)="onView(transaction.id.toString())"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog header="Transaction Details" [(visible)]="visible" modal="modal" width="50%">
   
    <p *ngIf="transaction1">
      <strong>ID:</strong> {{ transaction1.id }}<br>
      <strong>Amount:</strong> {{ transaction1.amount | currency }}<br>
      <strong>Description:</strong> {{ transaction1.description }}<br>
      <strong>Date:</strong> {{ transaction1.transactionDate | date }}<br>
      <strong>Type:</strong> {{ transaction1.type }}<br>
      <strong>Category:</strong> {{ transaction1.category.name }}
    </p>
    <p-footer>
      <p-button label="Close" icon="pi pi-times" (click)="onCloseDialog()"></p-button>
    </p-footer>
  </p-dialog>
</div>
